.schedule-container {
  font-size: 2rem;
}

.schedule-flex {
  flex-direction: column;
}
.picture1 {
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 960px;
  flex-shrink: 5;
}
.picture2 {
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 960px;
  flex-shrink: 5;
}

.BaskingRidge {
  background-color: #1d3557;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100px;
  width: 300px;
  font-size: 2.5rem;
  border-radius: 50px;
  font-weight: 500;
  font-family: "Trebuchet MS";
  border: 50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
