.home-section {
  display: flex;
  // align-items: center;
  background-image: url("../../assets/images/test.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: calc(70vh);
  padding: 0;
}

.home-flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 50px;
  font-family: "Shadows Into Light", cursive;
}

.h3 {
  margin-top: 0;
  font-size: 35px;
}

.location-grid {
  height: auto;
  width: 100%;
  gap: 10%;
  grid-template-columns: 45% 45%;
}

.location {
  text-align: center;
}
