.navbar-section {
  display: sticky;
  top: 0px;
  width: 100%;
  height: 100px;
}

.navbar-container {
  height: 100%;
}

.navbar-flex {
  height: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.img-logo {
  height: 60px;
  width: auto;
  margin: auto;
  padding-right: 10px;
}

.socials {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 30px;
  margin: 0 10px;
}
