.contact-flex {
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.description {
  font-size: 0.75rem;
  width: 700px;
  padding: 45px 20px;
}
#park {
  border-radius: 10px;
  height: 193px;
  width: 160px;
  //   aspect-ratio: 160/193;
}
