.bottom-section {
  background-color: #1d3557;
  height: 370px;
  color: white;
}

.bottom-container {
  height: 275px;
}

.bottom-flex {
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo-flex {
  flex-direction: column;
  gap: 10px;
}

.bottom {
  color: white;
}

.bottom-phone-number {
  color: white;
  transition: all 0.5s ease;
}

.bottom-phone-number:hover,
.bottom:hover {
  color: var(--secondary-color);
}
.copyright {
  text-align: center;
  margin-top: 40px;
}

#copyright {
  margin: 0;
}

#github {
  font-size: 20px;
}

.map-area {
  display: flex;
  gap: 50px;
}

.map-caption {
  margin: 0;
  text-align: center;
}

iframe {
  border: 0;
}
