.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: var(--bar-width);
  transform: rotate(180deg);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid white;
  box-shadow: 0 0 0 1px black;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: black;
  border-radius: 100px;
  transition: all var(--animation-timing);
  transform-origin: left center;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.links-container {
  transition: all var(--animation-timing);
  transform: translatex(100%);
  position: fixed;
  display: flex;
  top: 100px;
  right: 0px;
  width: 100dvw;
  height: calc(100dvh - 100px);
  background-color: white;
  opacity: 0;
  border-radius: 10px 0 0 10px;
  border-top: 2px solid black;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 15px;
  gap: 10px;
}

.links a {
  transition: all 0.5s ease;
  &:hover {
    color: var(--secondary-color);
  }
}

.hamburger-menu:has(input:checked) + .links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0%);
  opacity: 1;
}

:root {
  --bar-width: 30px;
  --bar-height: 4px;
  --hamburger-gap: 4px;
  --color: var(--primary-color);
  --animation-timing: 0.3s ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
